{% extends 'base.html' %}
{% load static %}
{% block body %}


    <div class="flex items-center">
        <div class="col-md-10">
            <div class="form-check"> 
                <select name="imagen" id="folder-select" class=" form-select " data-live-search="true" >
                    
                </select>
            </div>            
        </div>
    </div>
    

    <div class="row">
        <img /> 
    </div>
    

    <script  src="{% static 'src/requiriments.js' %}"></script>
{% endblock %}